/* You can add global styles to this file, and also import other style files */
#themecolors a{
    cursor: pointer;
}
.pointer{
    cursor: pointer;
}
.center{
    text-align: center; 
    margin-inline-start: 100px;
    padding: 10px;
    margin-top: -8px;
}
